body {
    font-family: Verdana, Arial, sans-serif;
}

div {
    font-size: 20px;
    color:teal;
    margin-bottom: 10px;

}

.button {
    background-color: #555555; /* Dark-gray*/
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
    display: inline-block;
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }